<div class="paper-card">
    <div class="paper-image">
        <img src="{{ include.project.image }}" alt="{{ include.project.title }}">
    </div>
    <div class="paper-content">
        <h3><strong>{{ include.project.title }}</strong></h3>
        <p><em>{{ include.project.authors }}</em></p>
        <p><em>{{ include.project.conference }}</em></p>
        
        <p>
            {% if include.project.project %}
                <a href="{{ include.project.project }}" target="_blank">[Project]</a>
            {% endif %}
            {% if include.project.paper %}
                <a href="{{ include.project.paper }}" target="_blank">[Paper]</a>
            {% endif %}
            {% if include.project.code %}
                <a href="{{ include.project.code }}" target="_blank">[Code]</a>
            {% endif %}
            <a href="javascript:void(0);" class="toggle-abstract">[Abstract]</a>
            {% if include.project.bibtex %}
                <a href="javascript:void(0);" class="toggle-bibtex">[BibTex]</a>
            {% endif %}
        </p>

        <div class="abstract-content hidden">
            <p>{{ include.project.abstract }}</p>
        </div>

        {% if include.project.bibtex %}
        <div class="bibtex-content hidden">
            <pre>{{ include.project.bibtex }}</pre>
        </div>
        {% endif %}
    </div>
</div>
